[submodule "dms-backend"]
	path = dms-backend
	url = https://github.com/arcticportal/dms-backend.git
	branch = main
[submodule "dms-jupyter"]
	path = dms-jupyter
	url = https://github.com/arcticportal/dms-jupyter.git
	branch = main
[submodule "dms-frontend"]
	path = dms-frontend
	url = https://github.com/arcticportal/dms-frontend.git
	branch = main
